<header class="header">
  <a href="#" class="logo">
    <img src="./dist/img/logo.png" alt="">
  </a>
  <button class="header-btn">Make an appointment</button>
</header>


<main class="main">
    <div id="desk">
      <p class="text">No items have been added</p>

</main>
