.main{
  font-family: $font;
  color: #8d81ac;
  background-color: #ccccff;
  min-height: 100vh;
  padding: 150px 100px 50px;
  box-sizing: border-box;
}
.header{
  background-color: #6666ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  position: absolute;
  left: 0;
  right: 0;
}
.logo{
  width: 100px;
  height: 42px;
  & img{
    height: 100%;
    width: 100%;
  }
}
.header-btn{
  background-color: #fff;
  color: #66f;
  font-family: $font;
  padding: 10px;
  border: 1px solid #66f;
  border-radius: 5px;
  transition: 0.4s;
}
.header-btn:hover{
  border-color: #fff;
  color: #fff;
  background-color: #66f;
}
#desk{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid #6666ff;
  border-radius: 10px;
  min-height: 400px;
  background-image: url(../img/cork-board.png);
  position: relative;
}
.text{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.test-card{
  width: 180px;
  height: 140px;
  border: 1px solid red;
  margin: 5px;
  background-color: blue;
  color: #fff;
}
